language: python
matrix:
  include:
  - name: "Python 3.6, Linux"
    python: 3.6
    before_install:
      - pip install torch==1.3.1+cpu torchvision==0.4.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
    
  - name: "Python 3.6, Windows"
    os: windows 
    language: shell       # 'language: python' is an error on Travis CI Windows
    before_install:
      - choco install python --version 3.6.7
      
      # upgrade pip first, else it won't work
      # use `python`, there is no `python3` on windows!
      - python -m pip install --upgrade pip
      - pip3 install torch==1.3.1+cpu torchvision==0.4.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
    env:
      - PATH=/c/Python36:/c/Python36/Scripts:$PATH
      - TRW_LOGGING_ROOT=./test_tmp
    
  - name: "Python 3.6 on macOS"
    os: osx
    osx_image: xcode9.4
    language: shell
    before_install:
      - pip3 install torch torchvision
    env: 
      - PATH=/Users/travis/Library/Python/3.6/bin:$PATH
      - TRW_LOGGING_ROOT=./test_tmp
    
install:
  - pip3 install -r requirements.txt
  - pip3 install -r requirements-ci.txt
  - pip3 install .
  
script:
  - python3 tasks.py --task=task_test || python tasks.py --task=task_test 

after_success:
  - coveralls